.body, html { background : #333333 ; color: white }
body {overflow:hidden;}
body, html, div {font-family: Ubuntu; font-size:10pt}
body {margin-left: 0; margin-top: 0 }

.content {width: 100%;}
.draft-interface {width: 1088px; height: 592px; float:left; background: #CCCCCC;
					border-radius: 0px 0px 25px 0px}
.vertical-holder {width: 272px; float: right }

.card-image { width:130px; height:181px; padding: 1px 1px 1px 1px}
.reserved { box-shadow: 2px 8px 8px #dddd33; }
.pick-table-row { height: 185px ; }
.pick-table-cell { width: 132px ; }
#packdisp { border-collapse: separate ; border-spacing : 2px 8px ; }
#confirm { font-family: Ubuntu; font-size: 15px; padding: 5px 10px 5px 10px;
	border-radius: 6px 6px 6px 6px; border-width: 1px;
	border-color: black; border-style: solid;
	margin: auto; display: block; background: #F0F0F0 }
#confirm:focus, #confirm:hover { background-color: #DDDDDD; }
#confirm:active { background-color:#DDDDFF; }

.draft-picks {padding:3px 0px 0px 0px}
.symbolimg-vert {height: 13px; width: 13px; padding: 0px 0px 0px 0px}
.mana-vert {min-width : 42px; display: inline-block; } 
.sideboarded-card { color: #999999;}
.unpicked {text-align : center ; color : #666666; display: inline-block; width: 100%; overflow: hidden}
.arrows { padding: 0px 4px 0px 2px }
.addlink { color:#20AA20 }
.droplink { color: #AA2020 }
.addlink, .droplink {font-size: 9pt ; text-decoration : none }
.slashspan { padding: 0px 3px 0px 3px ;}

.bottom-holder {width: 1088px; display: block; height:25%;}
.cmc-stack {display: inline-block; float:left}
.cmcbox {width : 178px ; display: inline-block }
.critter { max-height:116px;}
.spell {max-height:76px; margin:10px 0px 0px 0px}
.cost {border-style: dashed; border-width: 0px 0px 1px 0px ; border-color: black; text-align: center; font-size: 8pt}
.critter, .spell { font-size: 10px ; }
.symbolimg-bot {height: 10px; width: 10px; padding: 0px 0px 0px 0px}
.mana-bot {min-width : 33px; display: inline-block; }
.cardname-bot { font-size : 10px ; }

.divider { border-style: dashed ; border-width: 1px 0px 0px 0px ; margin: 4px 0px 4px 0px ; margin-left :auto; margin-right:auto; width:75%}

.formbar {float :right; padding: 20px 50px 0px 0px ; display:block }
select, option, #draft-button { font-family: Ubuntu; font-size: 13pt }
.recovery-bar { float:left; padding: 50px 0px 0px 20px; display:inline-block}
.recovery-string, side-string {font-family: Ubuntu; font-size:10pt; width:400px}

/* for queue page */
.queueblock { height: 180px ; width : 720px ; display:table; text-align:center; 
	background : #CCCCCC ; border-radius: 0px 0px 25px 0px; font-family: Ubuntu ;
	color:black ; font-size: 14pt }
.queueblock form { height: 100% ; display: table-cell; vertical-align:middle }
.draft-id-field input, .player-name-field input { font-family: Ubuntu; font-size: 16pt;
	border-radius: 6px ; border-width: 1px ; border-style: solid ;
	border-color: #999999; margin: 0px 0px 0px 5px }
.draft-id-field input {width : 100px }
.player-name-field input { width : 260px }
.draft-id-field, .player-name-field { margin-top: auto; margin-bottom:auto ;
	padding: 0px 40px 0px 0px }
#join-draft-button { font-family: Ubuntu; font-size: 15px; padding: 5px 10px 5px 10px;
	border-radius: 6px 6px 6px 6px; border-width: 1px;
	border-color: black; border-style: solid; background: #F0F0F0 }
#join-draft-button:focus, #join-draft-button:hover { background-color: #DDDDDD; }
#join-draft-button:active { background-color:#DDDDFF; }