.body, html { background : #333333 ; color: white }
body, html, div {font-family: Ubuntu; font-size:10pt}
body {margin-left: 0; margin-top: 0 ; overflow-x: auto; overflow-y: auto}

.content { width : 1338px }

.leftstack {width: 1088px; display: inline-block; float:left}
.draft-interface {width: 1088px; height: 592px; background: #CCCCCC;
					border-radius: 0px 0px 25px 0px }
.vertical-holder {width: 250px; float: left }

.card-image { width:130px; height:181px; padding: 1px 1px 1px 1px}
.reserved { box-shadow: 2px 8px 8px #dddd33; }
.pick-table-row { height: 185px ; }
.pick-table-cell { width: 132px ; position:relative }
#packdisp { border-collapse: separate ; border-spacing : 2px 8px ; height: 394px }
#cogwork { margin-bottom: 12px ; }
#confirm, #cogwork, .modobutton { font-family: Ubuntu; font-size: 15px; padding: 5px 10px 5px 10px;
	border-radius: 6px 6px 6px 6px; border-width: 1px;
	border-color: black; border-style: solid;
	margin-left: auto; margin-right: auto; display: block; background: #F0F0F0 }
#confirm:focus, #confirm:hover, #cogwork:focus, #cogwork:hover, .modobutton:focus, .modobutton:hover { background: #DDDDDD; }
#confirm:active, #cogwork:active, .modobutton:active { background-color:#DDDDFF; }
.fulltd { text-align : center ; font-family : Ubuntu; font-size : 11pt ; color: black; width:1090px;}
.final-cell { padding: 97px 0px 0px 0px ; }
.pick-history-button { text-decoration: none ; color : black ; padding: 5px 10px 5px 10px ; border-style: solid; border-width: 1px 1px 1px 1px; border-radius: 6px 6px 6px 6px ; background : #F0F0F0 }
.pick-history-button:hover { background: #DDDDDD }
.pick-history-button:active { background : #DDDDFF } 

.draft-picks {padding:3px 0px 0px 0px}
.symbolimg-vert {height: 13px; width: 13px; padding: 0px 0px 0px 0px}
.mana-vert {min-width : 42px; display: inline-block; } 
.mana-vert-slashed { display: inline-block; } 
.sideboarded-card { color: #999999;}
.unpicked {text-align : center ; color : #666666; display: inline-block; width: 100%; overflow: hidden}
.arrows { padding: 0px 4px 0px 2px }
.addlink { color:#20AA20 }
.droplink { color: #AA2020 }
.addlink, .droplink {font-size: 9pt ; text-decoration : none }
.slashspan { padding: 0px 3px 0px 3px ;}
.cardname { position: relative ; 
			display:inline-block ; max-width: 178px; overflow:hidden; 
			text-overflow:ellipsis; white-space:nowrap; vertical-align:top }

.bottom-holder {width: 1085px; display: block; height:198px; margin-left: 3px}
.cmc-stack {display: inline-block; float:left}
.cmcbox {width : 180px ; display: inline-block }
.critter { max-height:116px; padding: 1px 0px 0px 0px}
.spell {max-height:76px; margin:10px 0px 0px 0px}
.cost {border-style: dashed; border-width: 0px 0px 1px 0px ; border-color: black; text-align: center; font-size: 8pt}
.critter, .spell { font-size: 10px ; }
.symbolimg-bot {height: 10px; width: 10px; padding: 0px 0px 0px 0px}
.mana-bot {min-width : 33px; display: inline-block; }
.mana-bot-slashed {min-width : 33px; display: inline-block; }
.cardname-bot { font-size : 10px ; 
			display:inline-block ; max-width: 147px; overflow:hidden; 
			text-overflow:ellipsis; white-space:nowrap; vertical-align:top }
.cardname-bot > a { color: white; text-decoration : none }
.cardname-bot > a:hover { color: #DDDDDD; text-decoration : none }
.cardname > a { text-decoration : none ; color : white }
.cardname > a:hover { text-decoration : none ; color : #DDDDDD }

.divider { border-style: dashed ; border-width: 1px 0px 0px 0px ; margin: 4px 0px 4px 0px ; margin-left :auto; margin-right:auto; width:75%}

.under-pack-info { height : 198px ; width: 1086px ; }
.draft-flow-bar { width: 954px ; display : table ; text-align : center ; float : left ; height : 100% }
#flow-info { width: 100% ; height: 100%;  vertical-align: middle; display : table-cell } 
.drafter-box { color : black ; font-size : 12pt ; font-family : Ubuntu; position : relative ; padding: 0px 10px 0px 10px ; }
.overtext { position: absolute; top: -75%; width: 100%; text-align:center; left: 0 }
.undertext { position: absolute; bottom: -75%; width: 100%; text-align:center; left: 0; font-variant : small-caps; font-size: 8pt }
.arrow { color : black ; vertical-align: middle }
.unstarted { font-style: italic }
.delinquent { color : #990000 }

.pack-time { width: 132px ; height : 100% ; float : left }
#timer, #pick-number, #pack-number  { font-size: 14pt ; width: 100% ; text-align: center ; color: black ; height : 22px }
.pack-no, .pick-no { font-weight : bold ; padding: 0px 0px 0px 3px }
#timer { padding: 0px 0px 9px 0px }
#pack-number { padding: 0px 0px 5px 0px }
.timebox { border-radius : 11px 11px 11px 11px ; border-style: solid ; border-color: black; border-width: 1px 1px 1px 1px ; padding: 3px 10px 3px 10px }
.low-time { background: #55bbff ; }
.panic { background : #ff5555 ; }

.zoombox { position : absolute ; z-index: 1 ; left: 3px }
.zoomed-image { width : 275px; }

/* for queue page */
.queue-left-container {width : 720px ; display:inline-block ; vertical-align: top}
.queue-right-container {width : 450px ; display:inline-block ; vertical-align: top; margin-left: 70px }

.infoblock { width : 450px ; display : table; font-size : 12pt ; font-family: Ubuntu ; background : #CCCCCC ; border-radius: 0px 0px 25px 25px ; color : black ; padding: 10px 15px 10px 15px }
.info-header { font-variant: small-caps ; font-size: 13pt }
.infoblock > ul { padding: 0px 0px 0px 16px ; margin-top:6px; margin-bottom: 8px }
.infoblock > ul > li {padding-bottom : 4px }

.queueblock { height: 180px ; width : 720px ; display:table; text-align:center; 
	background : #CCCCCC ; border-radius: 0px 0px 25px 0px; font-family: Ubuntu ;
	color:black ; font-size: 14pt }
.queueblock form { height: 100% ; display: table-cell; vertical-align:middle; position: relative }
.upper-message { width: 100%; text-align: center; font-family: Ubuntu;
	font-size:14pt ; color: #990000 ; position: absolute; bottom: 15 }
.draft-id-field input, .player-name-field input { font-family: Ubuntu; font-size: 16pt;
	border-radius: 6px ; border-width: 1px ; border-style: solid ;
	border-color: #999999; margin: 0px 0px 0px 5px }
.draft-id-field input {width : 100px ; text-align: center }
.player-name-field input { width : 260px ; padding: 0px 0px 0px 5px }
.draft-id-field, .player-name-field { margin-top: auto; margin-bottom:auto ;
	padding: 0px 40px 0px 0px }
#join-draft-button, #make-draft-button, #upload-dek-button { font-family: Ubuntu; font-size: 15px; padding: 5px 10px 5px 10px;
	border-radius: 6px 6px 6px 6px; border-width: 1px;
	border-color: black; border-style: solid; background: #F0F0F0 }
#join-draft-button:focus, #join-draft-button:hover, #make-draft-button:focus, #make-draft-button:hover, #upload-dek-button:focus, #upload-dek-button:hover { background-color: #DDDDDD; }
#join-draft-button:active, #make-draft-button:active, #upload-dek-button:active { background-color:#DDDDFF; }

.createblock { height: 180px ; width: 720px ; background: #CCCCCC; 
	border-radius: 0px 25px 25px 0px; margin-top: 70px }
.createblock form { width : 100% ; display: table ; text-align : center }  
.draft-creation-fields { width: 100% ; padding-top: 30px }
.cube-field, .player-field, .packs-field, .cards-field, .pack-scheme, .make-draft-button { color : green; font-family: Ubuntu ;
	color:black ; font-size: 12pt; display:inline-block }
.cube-field, .player-field, .packs-field, .cards-field, .pack-scheme { padding: 0px 35px 20px 0px }
.make-draft-button { width: 100% }
.player-field input, .packs-field input, .cards-field input { font-family: Ubuntu; font-size: 16pt;
	border-radius: 6px ; border-width: 1px ; border-style: solid ;
	border-color: #999999; margin: 2px 0px 0px 0px; width:45px; 
	text-align:center }
.cube-field select, .pack-scheme select { font-family: Ubuntu; font-size: 14pt }
.created-response { width: 100%; text-align: center; font-family: Ubuntu;
	font-size:14pt ; color: #990000 }
.draft-parameters { font-size : 12pt ; padding-left : 5px }

.uploadblock { min-height: 180px ; width: 720px ; background: #CCCCCC; color : black;
	font-family: Ubuntu; border-radius: 0px 25px 25px 0px; margin-top: 70px }
.uploadblock form { width : 100% ; padding-top: 30px; display:table ; }

.upload-dek-field { display: inline-block ; padding: 0px 0px 0px 33px ; width: 44% }
.upload-input-button { font-size: 15px ; font-family:Ubuntu; border-color:black; border-width:1px; border-style:solid; border-radius: 6px 6px 6px 6px ; padding: 5px 10px 5px 10px; background: #F0F0F0; color: black }
.upload-input-button:hover { background: #DDDDDD ; }
.upload-input-button:active { background : #DDDDFF ; }
input[type="file"] {display : none} 
.uploaded-file {font-size:12pt ; font-family:Ubuntu ; padding: 0px 0px 0px 10px }

.passcode-field { display : inline-block ; font-size: 12pt; text-align:center }
.passcode-field input { font-family: Ubuntu; font-size: 14pt; padding: 0px 0px 0px 5px ;
	border-radius: 6px ; border-width: 1px ; border-style: solid ;
	border-color: #999999; margin: 0px 0px 0px 5px ; width : 100px }
	
.upload-dek-button { display : inline-block ; padding: 0px 0px 0px 70px }
.upload-response-message { color: #990000; font-size: 11pt; text-align:center ; margin-bottom:8px}
.card-deltas { padding: 0px 0px 0px 100px ; }
#new-ins, #new-outs { display: inline-block ; width: 40%; text-align: center; color:#990000 ; vertical-align: top; padding: 0px 0px 8px 0px }
.delta-header { text-decoration: underline ; padding: 0px 0px 5px 0px }

.toollink { position : relative }
.toollink .tooltiptext { visibility: hidden; width: 205px; bottom: 100%; left: 50%; margin-left: -95px; font-size: 9.5pt ; background-color: #333333; color: #fff; text-align: center; padding: 5px 0; border-radius: 6px; position: absolute; z-index: 1; }
.toollink:hover .tooltiptext { visibility: visible; }

/* for pick history page */
.history-pick-cell { position : relative ; }
.checkbox { position : absolute; top: 20%; left:30%; font-size: 72pt; color : white  }
.pick-number-cell {min-width : 55px; font-size:11pt; color:black; text-align:center }
.review-permalink { font-size: 9pt; color: #2020AA ; text-decoration : none }
.history-card-image {width : 150px; height: 209px; }
tr.one-row-pack > td { padding: 5px 0px 5px 0px }
tr.two-row-top > td { padding: 5px 0px 0px 0px }
tr.two-row-bot > td { padding: 0px 0px 5px 0px }
.overtint { position:absolute; background-color: rgba(204, 204, 204, 0.35); width:150px; height:209px; }
.draft-save-button { color: #2020AA; text-decoration: none }
.upper-history-bar { color: black; padding: 5px 0px 5px 25px }

.review-cell { padding: 0px 0px 0px 0px }
.review-critter { padding: 1px 0px 0px 0px }
.review-spell { margin:10px 0px 0px 0px }
.draft-review-table { padding: 0px 0px 0px 55px ; color : black }
.draft-review-stack { width : 180px ; display: block ; float : left ; }