.body, html { background : #333333 ; color: white }
body, html, div {font-family: Ubuntu; font-size:10pt}
body {margin-left: 0; margin-top: 0 ; overflow-x: auto; overflow-y: auto}

.content { width : 1338px }

.leftstack {width: 1088px; display: inline-block; float:left}
.draft-interface {width: 1088px; height: 592px; background: #CCCCCC;
					border-radius: 0px 0px 25px 0px }
.vertical-holder {width: 250px; float: left }

.card-image { width:130px; height:181px; padding: 1px 1px 1px 1px}
.reserved { box-shadow: 2px 8px 8px #dddd33; }
.pick-table-row { height: 185px ; }
.pick-table-cell { width: 132px ; }
#packdisp { border-collapse: separate ; border-spacing : 2px 8px ; height: 394px }
#confirm, .modobutton { font-family: Ubuntu; font-size: 15px; padding: 5px 10px 5px 10px;
	border-radius: 6px 6px 6px 6px; border-width: 1px;
	border-color: black; border-style: solid;
	margin: auto; display: block; background: #F0F0F0 }
#confirm:focus, #confirm:hover, .modobutton:focus, .modobutton:hover { background-color: #DDDDDD; }
#confirm:active, .modobutton:active { background-color:#DDDDFF; }
.fulltd { text-align : center ; font-family : Ubuntu; font-size : 11pt ; color: black; width:1090px;}

.draft-picks {padding:3px 0px 0px 0px}
.symbolimg-vert {height: 13px; width: 13px; padding: 0px 0px 0px 0px}
.mana-vert {min-width : 42px; display: inline-block; } 
.sideboarded-card { color: #999999;}
.unpicked {text-align : center ; color : #666666; display: inline-block; width: 100%; overflow: hidden}
.arrows { padding: 0px 4px 0px 2px }
.addlink { color:#20AA20 }
.droplink { color: #AA2020 }
.addlink, .droplink {font-size: 9pt ; text-decoration : none }
.slashspan { padding: 0px 3px 0px 3px ;}

.bottom-holder {width: 1088px; display: block; height:198px}
.cmc-stack {display: inline-block; float:left}
.cmcbox {width : 178px ; display: inline-block }
.critter { max-height:116px;}
.spell {max-height:76px; margin:10px 0px 0px 0px}
.cost {border-style: dashed; border-width: 0px 0px 1px 0px ; border-color: black; text-align: center; font-size: 8pt}
.critter, .spell { font-size: 10px ; }
.symbolimg-bot {height: 10px; width: 10px; padding: 0px 0px 0px 0px}
.mana-bot {min-width : 33px; display: inline-block; }
.cardname-bot { font-size : 10px ; }
.cardname-bot > a { color: white; text-decoration : none }
.cardname-bot > a:hover { color: #DDDDDD; text-decoration : none }
.cardname > a { text-decoration : none ; color : white }
.cardname > a:hover { text-decoration : none ; color : #DDDDDD }

.divider { border-style: dashed ; border-width: 1px 0px 0px 0px ; margin: 4px 0px 4px 0px ; margin-left :auto; margin-right:auto; width:75%}

.under-pack-info { height : 198px ; width: 1086px ; }
.draft-flow-bar { width: 954px ; display : table ; text-align : center ; float : left ; height : 100% }
#flow-info { width: 100% ; height: 100%;  vertical-align: middle; display : table-cell } 
.drafter-box { color : black ; font-size : 12pt ; font-family : Ubuntu; position : relative }
.overtext { position: absolute; top: -75%; width: 100%; text-align:center; left: 0 }
.arrow { color : black ; padding: 0px 10px 0px 10px ; vertical-align: middle }
.unstarted { font-style: italic }

.pack-time { width: 132px ; height : 100% ; float : left }
#timer, #pick-number, #pack-number  { font-size: 14pt ; width: 100% ; text-align: center ; color: black ; height : 22px }
.pack-no, .pick-no { font-weight : bold ; padding: 0px 0px 0px 3px }
#timer { padding: 0px 0px 8px 0px }
#pack-number { padding: 0px 0px 5px 0px }

/* for queue page */
.queueblock { height: 180px ; width : 720px ; display:table; text-align:center; 
	background : #CCCCCC ; border-radius: 0px 0px 25px 0px; font-family: Ubuntu ;
	color:black ; font-size: 14pt }
.queueblock form { height: 100% ; display: table-cell; vertical-align:middle; position: relative }
.upper-message { width: 100%; text-align: center; font-family: Ubuntu;
	font-size:14pt ; color: #990000 ; position: absolute; bottom: 15 }
.draft-id-field input, .player-name-field input { font-family: Ubuntu; font-size: 16pt;
	border-radius: 6px ; border-width: 1px ; border-style: solid ;
	border-color: #999999; margin: 0px 0px 0px 5px }
.draft-id-field input {width : 100px ; text-align: center }
.player-name-field input { width : 260px ; padding: 0px 0px 0px 5px }
.draft-id-field, .player-name-field { margin-top: auto; margin-bottom:auto ;
	padding: 0px 40px 0px 0px }
#join-draft-button, #make-draft-button { font-family: Ubuntu; font-size: 15px; padding: 5px 10px 5px 10px;
	border-radius: 6px 6px 6px 6px; border-width: 1px;
	border-color: black; border-style: solid; background: #F0F0F0 }
#join-draft-button:focus, #join-draft-button:hover, #make-draft-button:focus, #make-draft-button:hover { background-color: #DDDDDD; }
#join-draft-button:active, #make-draft-button:active { background-color:#DDDDFF; }

.createblock { height: 180px ; width: 720px ; background: #CCCCCC; 
	border-radius: 0px 25px 25px 0px; margin-top: 70px }
.createblock form { width : 100% ; display: table ; text-align : center }  
.draft-creation-fields { width: 100% ; padding-top: 30px }
.cube-field, .player-field, .packs-field, .cards-field, .pack-scheme, .make-draft-button { color : green; font-family: Ubuntu ;
	color:black ; font-size: 12pt; display:inline-block }
.cube-field, .player-field, .packs-field, .cards-field, .pack-scheme { padding: 0px 35px 20px 0px }
.make-draft-button { width: 100% }
.player-field input, .packs-field input, .cards-field input { font-family: Ubuntu; font-size: 16pt;
	border-radius: 6px ; border-width: 1px ; border-style: solid ;
	border-color: #999999; margin: 2px 0px 0px 0px; width:45px; 
	text-align:center }
.cube-field select, .pack-scheme select { font-family: Ubuntu; font-size: 14pt }
.created-response { width: 100%; text-align: center; font-family: Ubuntu;
	font-size:14pt ; color: #990000 }