<html>
<head>
<title>Adam's Cube Draft Simulator Extraordinaire!</title>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cubedraft.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script charset="UTF-8" type="text/JavaScript" src="{{ url_for('static', filename='card-choosing.js') }}"></script>
<script charset="UTF-8" type="text/JavaScript" src="{{ url_for('static', filename='interface-setup.js') }}"></script>
<script charset="UTF-8" type="text/JavaScript" src="{{ url_for('static', filename='modo-export.js') }}"></script>
<script charset="UTF-8" type="text/JavaScript" src="{{ url_for('static', filename='pick-flow.js') }}"></script>

{% block scripts %}
{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

