{% extends 'base.html' %}

{% block scripts %}
<script>

//there are variables passed from flask; let's grab them
thisplayer = "{{ player|safe }}";
thisdraft = '{{ draftid }}';

$(document).ready(function(){
	ping();
});
	
$(document).ready(function(){
	$(".unreserved:first").addClass("reserved");
	$(".unreserved:first").removeClass("unreserved");
});

</script>
{% endblock %}

{% block content %}
<div class="content">
	<div class="leftstack">
	<div class="draft-interface">
	<div id="pack-table">
		<table id="packdisp"> </table>
	</div>

	<div id="zoom-box" class="zoombox"></div>
	<div class="under-pack-info">
		<div class="draft-flow-bar">
			<div class="flow-upper-row">
				<span id="flow-info"></span>
			</div>
			<div class="flow-under-row">
				<span id="card-counting"></span>
			</div>
		</div>
	
		<div class="pack-time">
			<div id="timer"></div>
			<div id="pack-number"></div>
			<div id="pick-number"></div>
		</div>
		<div class="clear"></div> <!-- otherwise later divs float? -->
	</div>

	</div>

<div class="bottom-holder">
<div class="cmc-stack">
	<span class="cost cmcbox" id="cmc-1">0-1</span><br>
	<span class="critter cmcbox" id="creatures-1"><br></span><br>
	<span class="spell cmcbox" id="noncreatures-1"></span><br>
	<span class="spell cmcbox" id="land-block"></span>
</div>
<div class="cmc-stack">
	<span class="cost cmcbox" id="cmc-2">2</span><br>
	<span class="critter cmcbox" id="creatures-2"></span><br>
	<span class="spell cmcbox" id="noncreatures-2"></span>
</div>
<div class="cmc-stack">
	<span class="cost cmcbox" id="cmc-3">3</span><br>
	<span class="critter cmcbox" id="creatures-3"></span><br>
	<span class="spell cmcbox" id="noncreatures-3"></span>
</div>
<div class="cmc-stack">
	<span class="cost cmcbox" id="cmc-4">4</span><br>
	<span class="critter cmcbox" id="creatures-4"></span><br>
	<span class="spell cmcbox" id="noncreatures-4"></span>
</div>
<div class="cmc-stack">
	<span class="cost cmcbox" id="cmc-5">5</span><br>
	<span class="critter cmcbox" id="creatures-5"></span><br>
	<span class="spell cmcbox" id="noncreatures-5"></span>
</div>
<div class="cmc-stack">
	<span class="cost cmcbox" id="cmc-6">6+</span><br>
	<span class="critter cmcbox" id="creatures-6"></span><br>
	<span class="spell cmcbox" id="noncreatures-6"></span>
</div>
</div>
</div>
	<div id="vertbar" class="vertical-holder">
<!-- This is populated by the vertBar function in interface-setup.js. -->
	</div>

</div>
{% endblock %}