{% extends 'base.html' %}

{% block content %}


<div class="queueblock">
Oops, you seem to have gotten lost! Enter your Draft ID and name below to rejoin your draft, or head over to the <a href='queue'>queue</a> to create or join a draft.
<form action='draftviewer' method="post">
<span class="draft-id-field">draft ID <input type="text" name="id" /></span>
<span class="player-name-field">name <input type="text" name="name"<br/></span>
<span class="join-draft-button"><input id="join-draft-button" type="submit" name="submit" value="rejoin" /></span>
<input type="hidden" name="rejoin" value="true" />
</form>
</div>


{% endblock %}