{% extends 'base.html' %}

{% block scripts %}
<style><!--
body {background: #CCCCCC; margin-right:0px ; margin-bottom:0px } 
.history-pick-cell { position : relative ; }
.checkbox { position : absolute; top: 20%; left:30%; font-size: 72pt; color : white  }
.pick-number-cell {min-width : 50px; font-size:11pt; color:black; text-align:center }
.history-card-image {width : 150px; height: 209px; }
tr.one-row-pack > td { padding: 5px 0px 5px 0px }
tr.two-row-top > td { padding: 5px 0px 0px 0px }
tr.two-row-bot > td { padding: 0px 0px 5px 0px }
.overtint { position:absolute; background-color: rgba(204, 204, 204, 0.35); width:150px; height:209px; }
--></style>

<script>

thisplayer = '{{ playername }}';
thisdraft = '{{ draftid }}';
var pickData = null;

$(document).ready(function(){
	$.get('/renderhistory', {draftid : thisdraft, player : thisplayer}, function(response) {
		pickData = response;
		makeTable();
	});
});
function makePickBlock(p) {
	packno = 1 + Math.floor( p / (pickData["pack_size"] - pickData["tossed"]) );
	pickno = 1 + p % (pickData["pack_size"] - pickData["tossed"]);
	if ( pickData["packs"][p].length <= 8 )
		{
		var out = '<tr class="one-row-pack">';
		out = out + '<td class="pick-number-cell">Pack ' + packno.toString() + '<br>Pick ' + pickno.toString() + '</td>'
		for (pno = 0; pno < pickData["packs"][p].length; pno++) { 
			var cardID = pickData["packs"][p][pno]
			var wasPicked = false
			if ( pickData["picks"][p].indexOf(cardID) >= 0 ) { wasPicked = true }
			if ( wasPicked ) {
			out = out + '<td class="history-pick-cell"><div class="overtint"></div><img src="' + pickData["images"][cardID] + '" class="history-card-image"><div class="checkbox">&check;</div></td>';
				}
			else {
			out = out + '<td class="history-pick-cell"><img src="' + pickData["images"][cardID] + '" class="history-card-image"></td>';
				}
			}
		var deficit = 8 - pickData["packs"][p].length
		if (deficit >= 1) { out = out + "<td colspan=" + deficit + "></td>" }
		out = out + "</tr>"; return out
		}
	else {
		var out = '<tr class="two-row-top">';
		out = out + '<td class="pick-number-cell">Pack ' + packno.toString() + '<br>Pick ' + pickno.toString() + '</td>'
		for (pno = 0; pno < 8; pno++) { 
			var cardID = pickData["packs"][p][pno]
			var wasPicked = false
			if ( pickData["picks"][p].indexOf(cardID) >= 0 ) { wasPicked = true }
			if ( wasPicked ) {
			out = out + '<td class="history-pick-cell"><div class="overtint"></div><img src="' + pickData["images"][cardID] + '" class="history-card-image"><div class="checkbox">&check;</div></td>';
				}
			else {
			out = out + '<td class="history-pick-cell"><img src="' + pickData["images"][cardID] + '" class="history-card-image"></td>';
				}
			}
		out = out + '</tr>\n<tr class="two-row-bot"><td></td>'
		for (pno = 8; pno < pickData["packs"][p].length; pno++) { 
			var cardID = pickData["packs"][p][pno]
			var wasPicked = false
			if ( pickData["picks"][p].indexOf(cardID) >= 0 ) { wasPicked = true }
			if ( wasPicked ) {
			out = out + '<td class="history-pick-cell"><div class="overtint"></div><img src="' + pickData["images"][cardID] + '" class="history-card-image"><div class="checkbox">&check;</div></td>';
				}
			else {
			out = out + '<td class="history-pick-cell"><img src="' + pickData["images"][cardID] + '" class="history-card-image"></td>';
				}
			}
		var deficit = 16 - pickData["packs"][p].length
		if (deficit >= 1) { out = out + "<td colspan=" + deficit + "></td>" }
		out = out + "</tr>"; return out
	}
}

function makeTable() {
	output = "<table id='history-table'>"
	for (i=0; i < Object.keys(pickData["picks"]).length; i++)
		{ output = output + "\n" + makePickBlock(i) }
//	$("table-loc").html(output); 
	loc = document.getElementById("table-loc")
	loc.innerHTML = output; 
}
</script>
{% endblock %}


{% block content %}
	<div class="upper-history-bar"></div>
	<div id="table-loc"></div>
{% endblock %}
