{% extends 'base.html' %}

{% block scripts %}

<script>
function validateForm() {
  var alertmsg = '';
  var oops = false;
  var playernum = document.forms["createdraft"]["players"].value;
  var packnum = document.forms["createdraft"]["packs"].value;
  var cardnum = document.forms["createdraft"]["cards"].value;
  if (isNaN(playernum) || playernum < 2 || playernum > 450) {
	alertmsg += 'Please enter a valid number of players (at least two).';
	oops = true;
	}
  if (isNaN(packnum) || packnum < 1 || packnum > 450) {
	alertmsg += ' Please enter a valid number of packs.';
	oops = true;
	}
  if (isNaN(cardnum) || cardnum < 1 || cardnum > 225) {
	alertmsg += ' Please enter a valid number of cards per pack.';
	oops = true;
	}
  if (playernum*packnum*cardnum > 450) {
     alertmsg += ' Your draft requires too many total cards.';
	 oops = true;
  }
  if (oops) {
	alert(alertmsg);
	return false;
	}
};
</script>

{% endblock %}

{% block content %}
<div class="queueblock">
<!-- for joining a draft -->
<form action='draftviewer' method="post">
	<span class="draft-id-field">draft ID <input type="text" name="id" value="{{ draftid }}"/></span>
	<span class="player-name-field">name <input type="text" name="name" value="{{ playername }}"/></span>
	<span class="join-draft-button"><input id="join-draft-button" type="submit" name="submit" value="join" /></span>
	{{ hiddenform|safe }}
	<div class="upper-message">{{ msg }}</div>
</form>
</div>

<!-- for creating a draft -->
<div class="createblock">

<form name="createdraft" action="newdraft" method="post" onsubmit="return validateForm()">
<div class="draft-creation-fields">
	<span class="cube-field">
	cube<br><select id="cubes" name="cubes">
		<option value="ada">Adam's cube</option>
		<option value="jacob">Jacob's cube</option>
		<!-- eventually this will loop over something but fuck it for now -->
		</select>
	</span>

	<span class="player-field">players<br><input type="text" size="3" name="players" /></span>
	<span class="packs-field">packs/player<br><input type="text" size="3" name="packs" /></span>
	<span class="cards-field">cards/pack<br><input type="text" size="3" name="cards" /></span>
	
	
	
	<span class="pack-scheme">
	pack scheme<br><select name="packmethod">
		<option value="Adam">Ada style</option>
		<option value="random">JJ style</option>
		</select>
	</span>
</div>

<div class="make-draft-button">
	<input id="make-draft-button" type="submit" name="submit" value="create draft" />
</div>
</form>
<div class="created-response">{{ draftcreated }}</div>

</div>
{% endblock %}