{% extends 'base.html' %}

{% block scripts %}

<script>
function validateForm() {
  var alertmsg = '';
  var oops = false;
  var playernum = document.forms["createdraft"]["players"].value;
  var packnum = document.forms["createdraft"]["packs"].value;
  var cardnum = document.forms["createdraft"]["cards"].value;
  if (isNaN(playernum) || playernum < 2 || playernum > 450) {
	alertmsg += 'Please enter a valid number of players (at least two).';
	oops = true;
	}
  if (isNaN(packnum) || packnum < 1 || packnum > 450) {
	alertmsg += ' Please enter a valid number of packs.';
	oops = true;
	}
  if (isNaN(cardnum) || cardnum <= 1 || (cardnum > 15 && cardnum != 90) ) {
	alertmsg += ' Acceptable cards per pack are between 2-15 or 90.';
	oops = true;
	}
  if (playernum*packnum*cardnum > 480) {
     alertmsg += ' Your draft requires too many total cards.';
	 oops = true;
  }
  if (oops) {
	alert(alertmsg);
	return false;
	}
};
</script>
<script charset="UTF-8" type="text/JavaScript" src="{{ url_for('static', filename='dek-upload.js') }}"></script>

{% endblock %}

{% block content %}
<div class="queue-left-container">
<div class="queueblock">
<!-- for joining a draft -->
<form action='draftviewer' method="post">
	<span class="draft-id-field">draft ID <input type="text" name="id" value="{{ draftid }}"/></span>
	<span class="player-name-field">name <input type="text" name="name" value="{{ playername }}"/></span>
	<span class="join-draft-button"><input id="join-draft-button" type="submit" name="submit" value="join" /></span>
	{{ hiddenform|safe }}
	<div class="upper-message">{{ msg|safe }}</div>
</form>
</div>

<!-- for creating a draft -->
<div class="createblock">

<form name="createdraft" action="newdraft" method="post" onsubmit="return validateForm()">
<div class="draft-creation-fields">
	<span class="cube-field">
	cube<br><select id="cubes" name="cubes">
		<option selected disabled hidden value=""></option>
		<option value="ada">Adam's cube</option>
		<option value="andrew">Andrew's cube</option>
		<option value="felix">Felix's cube</option>
		<option value="rich">Rich's cube</option>
		<option value="cnc">C&C's cube</option>
		<option value="hannes">Hannes's cube</option>
<!--	<option value="jacob">Jacob's cube</option>-->
		<!-- eventually this will loop over something but fuck it for now -->
		</select>
	</span>

	<span class="player-field">players<br><input type="text" size="3" name="players" /></span>
	<span class="packs-field"><span class="toollink">packs/player<sup>?</sup><span class="tooltiptext">choosing 1 pack of 90 cards will create sealed decks.</span></span><br><input type="text" size="3" name="packs" /></span>
	<span class="cards-field"><span class="toollink">cards/pack<sup>?</sup><span class="tooltiptext">If the draft is Ada style, 6/4/13 and 4/6/9 will cause the last two cards of each pack to be tossed.</span></span><br><input type="text" size="3" name="cards" /></span>
	
	<span class="pack-scheme">
	<span class="toollink">pack scheme<sup>?</sup><span class="tooltiptext">Ada style packs are color balanced. JJ style is random.</span>
	<br><select name="packmethod">
		<option value="Adam">Ada style</option>
		<option value="random">JJ style</option>
		</select>
	</span>
</div>

<div class="make-draft-button">
	<input id="make-draft-button" type="submit" name="submit" value="create draft" />
</div>
</form>
<div class="created-response">{{ draftcreated|safe }}</div>

</div>

<!-- for uploading dek files -->

<div class="uploadblock">
<form name="updatecube" action="queue" method="post">

<span class="upload-dek-field">
	<label for="upload-input" class="upload-input-button">choose .dek file</label>
	<input type="file" id="upload-input"> 
	<span id="uploaded-filename" class="uploaded-file"></span>
</span>	

<span class="passcode-field">passcode<br><input type="text" name="passcode" /></span>
<input id="linesinput" type="hidden" name="lines" value="" />

<span class="upload-dek-button">
	<input id="upload-dek-button" type="submit" name="submit" value="update cube" />
</span>
</form>

<div class="upload-response-message" id="mainup">{{ resultmsg|safe }}</div>
{% if updated %}
<div class="card-deltas">
	<span id="new-ins">
		<div class="delta-header">In since last version</div>
		<div class="card-delta-list">{% for cardname in ins%}
		{{ cardname }}<br/>
		{% else %}
		[None]
		{% endfor %}
		</div>
	</span>
	<span id="new-outs">
		<div class="delta-header">Out since last version</div>
		<div class="card-delta-list">{% for cardname in outs %}
		{{cardname}}<br/>
		{% else %}
		[None]
		{% endfor %}</div>
	</span>
{% endif %}
</div>
</div>
</div>

<div class="queue-right-container">
<div class="infoblock">
<span class="info-header">Drafting</span>
<ul>
<li>When the final person joins the draft, it fires automatically. So once you've joined the queue, don't wander too far off.
<li>Single left-click a card to reserve it. A yellow border will appear. That card will be drafted when your timer runs out.
<li>Double left-click a card to draft it. Alternatively, the "confirm pick" button will draft the reserved card.
<li>If you've drafted a Cogwork Librarian, you'll see an extra button "replace with librarian" above "confirm pick." To use the Librarian, reserve a card, then push that button.
<li>Click a card with any mouse button besides the left one to enlarge it. If the card has a back face, it will be shown when enlarged. The enlarged copy goes away when you make a pick or when you non-left click the enlarged card again.
<li>To avoid accidents, there's a two-second buffer after each pack appears before you're allowed to draft a card from it.
<li>The dots above the other drafters' handles represent the location of the packs in the draft. This "flow bar" doesn't update while you're making a pick.
<li>If you close the tab, think you may have been disconnected, or something seems weird, either refresh the page or come back to this page and re-enter the draft ID and your name. You'll be reconnected to the draft. 
</ul>

<span class="info-header">Deckbuilding</span>
<ul>
<li>Clicking on a card name on the right pane, or using the ▼ button, will add a card to the bottom deck builder pane. Clicking on ▲, or on the card name in the deck pane, will remove it. [This is all done in the browser, so if you refresh or close the tab your currently built deck will be removed.]
<li>At the end of the draft there will be a MODO export button. The .dek file that gets created will assign the cards in the deck pane to the main deck and all other drafted cards to the sideboard.
</ul>
</div>
</div>
{% endblock %}